# Salin file ini menjadi node.env untuk konfigurasi signer UGM di Kubernetes.
# Script prepare-artifacts.sh akan memperbarui variabel otomatis.
NODE_NAME=ugm
SIGNER_ADDRESS=0x0000000000000000000000000000000000000000
SIGNER_PASSWORD_FILE=config/passwords/UGM.pass
SIGNER_KEYSTORE_PATH=artifacts/signer/UGM/volumes/geth/keystore
CLEF_MASTERSEED_PATH=artifacts/signer/UGM/volumes/clef/masterseed.json
PUBLIC_IP=0.0.0.0
P2P_PORT=30303
HTTP_PORT=8545
WS_PORT=8546
ETHSTATS_ID=UGM
K8S_NODE_SELECTOR=poa-host=vps-a
K8S_SERVICE_TYPE=ClusterIP
AUTHRPC_PORT=8551

HOST_DATA_PATH=/var/lib/poa/ugm
