# Salin file ini menjadi node.env untuk konfigurasi nonsigner UNDIP di Kubernetes.
# Script prepare-artifacts.sh akan memperbarui variabel otomatis.
NODE_NAME=undip
PUBLIC_IP=0.0.0.0
P2P_PORT=31303
HTTP_PORT=8745
WS_PORT=8746
ETHSTATS_ID=UNDIP
K8S_NODE_SELECTOR=poa-host=vps-e
K8S_SERVICE_TYPE=ClusterIP

HOST_DATA_PATH=/var/lib/poa/undip
