# IP publik setiap node PoA.
# Ubah nilai sesuai alamat IP/VLAN pada cluster k3s.
PUBLIC_IP_UGM=0.0.0.0
PUBLIC_IP_ITB=0.0.0.0
PUBLIC_IP_UI=0.0.0.0
PUBLIC_IP_UB=0.0.0.0
PUBLIC_IP_ITS=0.0.0.0
PUBLIC_IP_UNIMED=0.0.0.0
PUBLIC_IP_UNUD=0.0.0.0
PUBLIC_IP_Gundar=0.0.0.0
PUBLIC_IP_UT=0.0.0.0
PUBLIC_IP_UNDIP=0.0.0.0
