# Salin file ini menjadi node.env untuk konfigurasi nonsigner UT di Kubernetes.
# Script prepare-artifacts.sh akan memperbarui variabel otomatis.
NODE_NAME=ut
PUBLIC_IP=0.0.0.0
P2P_PORT=31303
HTTP_PORT=8745
WS_PORT=8746
ETHSTATS_ID=UT
K8S_NODE_SELECTOR=poa-host=vps-d
K8S_SERVICE_TYPE=ClusterIP
AUTHRPC_PORT=9551

HOST_DATA_PATH=/var/lib/poa/ut
